.PersonRow {
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(60, 52, 135, 0.15);

  &.active {
    background-color: #F9F9F9;
    box-shadow: 0px 1px 4px rgba(60, 52, 135, 0.15);
  }

  &__check {
    margin: 14px 0 14px 22px;
    display: flex;
    align-items: center;
    gap: 26px;
  }

  &__value {
    padding: 14px 0;
  }

  &__checkbox {
    margin: 0 26px 0 23px;
    cursor: pointer;
  }

  &__parents {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    margin-right: 7px;
    cursor: pointer;
  }

  &__arrow {
    margin-right: 26px;
    cursor: pointer;
  }
}
