.PersonRow {
  &__value {
    padding: 14px 0;
  }

  &__checkbox {
    margin: 0 26px 0 23px;
    cursor: pointer;
  }

  &__parents {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    margin-right: 7px;
    cursor: pointer;
  }

  &__arrow {
    margin-right: 26px;
    cursor: pointer;
  }
}
