.PersonResult {
  color: #777777;
  background-color: #F2F2F2;

  &__container {
    padding: 20px 200px 24px 60px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    text-transform: uppercase;
    cursor: default;
  }

  &__titleKey {
    margin-right: 8px;
  }

  &__titleValue {
    margin-right: 15px;
    color: #5B5B5B;
    font-weight: 700;
  }

  &__devider {
    margin-top: 13px;
    width: 1200px;
    height: 1px;
    background-color: #A6192E;
  }

  &__average {
    margin: 20px 0 0 100px;
    display: flex;
    font-weight: 700;
    text-transform: uppercase;
    cursor: default;
  }

  &__averageScore {
    margin-left: 237px;
  }

  &__averageSpeed {
    margin-left: 60px;
  }
}
