.ExportCSV {
  margin: 0 173px 0 202px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #C0C0C0;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
